# created by virtualenv automatically
*
### Example user template template
### Example user template

# IntelliJ project files

!/Lib/
!/Scripts/



/depthai-python/
!/2-practice-demo/depthai_calib_backup.json
!/2-practice-demo/
