# created by virtualenv automatically
*
### Example user template template
### Example user template

# IntelliJ project files

!/Lib
!/Scripts

!/2-practice-demo

!/models

!/1-hello-word
!/3-gen2-demo
