# created by virtualenv automatically
*
### Example user template template
### Example user template

# IntelliJ project files

!/Lib
!/Scripts

!/1-hello-word
!/2-practice-demo
!/3-gen2-demo
!/models
!/3-gen2-demo/gen2-triangulation
!/3-gen2-demo/gen2-deeplab3-depth
